body {
  background: #eee;
}

div {
  padding: 2px;
  margin: 2px;
}

div.flex {
  display: flex;
}

div.contents-header {
  display: flex;
}

div.actions {
  margin-left: auto;
  display: flex;
}

div.container {
  height: 100%;
  display: flex;
}
