body {
  padding-left: 20px;
  padding-top: 20px;
}

.file-list {
  border: solid 1px #ccc;
  width: 300px;
  padding: 5px;
}

.notes {
  display: flex;
}

.filecontent {
  padding: 20px;
}

.depth-0 {
  padding-left: 10px;
}
.depth-1 {
  padding-left: 20px;
}
.depth-2 {
  padding-left: 30px;
}
