.notes {
  display: flex;
}

.filecontent {
  padding: 20px;
}

.depth-0 {
  padding-left: 10px;
}
.depth-1 {
  padding-left: 20px;
}
.depth-2 {
  padding-left: 30px;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif;
  font-family: "Niramit", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-family: "Raleway", sans-serif; */

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

div.container {
  height: 100%;
  display: flex;
  padding: 10px;
}

a:visited {
  color: hsl(180, 85%, 20%);
}

a:hover {
  color: hsl(180, 50%, 40%);
}

a.current {
  color: hsl(180, 70%, 40%);
}

a {
  text-decoration: none;
  color: hsl(180, 85%, 20%);
}

a.topic-name,
a.link {
  cursor: pointer;
}

.topic-filename {
  cursor: pointer;
  padding-left: 20px;
}

div.file-name {
  font-weight: "bold";
}

div.file-content-header {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

div.content-header {
  width: 100%;
}

div.file-content {
  margin-left: 10px;
  width: 100%;
}

div.file {
  padding: 10px;
}

div.content-header {
  padding: 10px;
  display: flex;
  background: hsl(0, 50%, 10%);
  color: white;
}

div.content-header a {
  padding-right: 10px;
  display: flex;
  background: hsl(0, 50%, 10%);
  color: white;
}

div.content-header a:hover {
  color: white;
  font-weight: bold;
}

div.actions {
  margin-left: auto;
  display: flex;
}

div.content {
  padding: 10px;
}

.file-editor {
  margin-left: 20px;
}

.file-editor-form {
  display: flex;
}

.file-editor-form textarea {
  min-width: 500px;
  min-height: 400px;
}

.editor-titlebar {
  min-height: 2em;
}

.hide-file-list {
  transition: width 300ms ease-in, opacity 300ms ease-out;
  width: 20px;
  opacity: 0;
  overflow: hidden;
}

.show-file-list {
  transition: width 300ms ease-in, opacity 300ms ease-in;
  width: 300px;
  opacity: 1;
  overflow: hidden;
}

.toggle-visibility-link {
  cursor: pointer;
}

.file-list {
  padding: 10px;
  border-right: solid 1px hsl(180, 20%, 90%);
}
